<!DOCTYPE html>
<html>
<head>
  <title>Webhookr</title>
  <%= stylesheet_link_tag    "webhookr/application", :media => "all" %>
  <%= javascript_include_tag "webhookr/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
